@charset "utf-8";
/* CSS Document */
body{ background-color: #000000;


}

#fondo{
	width: 960px; height: 600px;
	background-image:url("../img/iconofondo.png");
	background-repeat: repeat;
	margin: auto;
		
} 
#izquierda{
	float:left; width:30%; height:20%; padding-top: 10px;
	
}
#nave { 
     width:30%; height:50%; float:left;
   

}

#derecha{
	float:right; width:30%; height:50%;position: absolute;top:40%;right:20%;
}


	
}
#img_luna{
	width: 100%;
}
#luna{
	
	width:960px; height:235px;

}

#contenedor{	width: 960px; height: 500px;

}


#pause{
	width: 60px;height: 60px; position: absolute;top:50%;left: 10;
}
}

#img_pause{
	width: 60px;height: 60px; 
}

#reinicio{
	width: 60px;height: 60px; position: absolute;top:30%;left:30;
}
}
#img_reinicio{
	width: 60px;height: 60px; 
}
}

#opciones{
	width: 60px;height: 60px; position: absolute;top:10%;left:20;
}
}

#img_opciones{
	width: 60px;height: 60px; 
}
#gasolina{
	width: 60px;height: 60px;float: right;margin-top: 100%;
}
#velocidad{
	width: 60px;height: 60px;float:right;margin-top: 100%;
}
#altura{
	width: 60px;height: 60px;float:right;margin-top:100%;
}
#img_nave{
	width: 150px;height: 200px; margin: auto;
}

#menu{	float: right; margin-top:20px;

}
#img_play{
	margin-top: 90%;
}
#energia{
	float:right; width:40px; height:450px;position: absolute;bottom:50%;right:4%;
}
#energia1{
	float:right; width:40px; height:450px;position: absolute;bottom:50%;right:16%;
}
#energia2{
	float:right; width:40px; height:450px;position: absolute;bottom:50%;right:28%;
}
h2 {

position: absolute;

top: 80px;

left: 0;

width: 100%;
}



 h2 span {

color: white;

font: bold 24px/45px Helvetica, Sans-Serif;

letter-spacing: -1px;

background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.7);

padding: 10px;

margin:auto;
}