@charset "utf-8";
/* CSS Document */
body{ background-color: #000000;


}

#fondo{
	width: 960px; height: 600px;
	background-image:url("../img/iconofondo.png");
	background-repeat: repeat;
	margin: auto;
		
} 



	
}
#img_luna{
	width: 100%;
}
#luna{
	
	width:960px; height:235px;

}

#contenedor{	width: 960px; height: 500px;

}
