@charset "utf-8";
/* CSS Document */





body,html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url("../img/iconofondo.png");
}
#img_luna{
	width: 100%;
}
#luna{
	
	width:100%; position: absolute;bottom:0px;
}
#reinicio{
	width: 60%;height: 60%; position: fixed;top:100%;
}
#img_reinicio{
	width: 20%;top: 70%;position: fixed;
}


h2 {

position: absolute;

top: 80px;

left: 0;

width: 100%;
}



 h2 span {

color: white;

font: bold 24px/45px Helvetica, Sans-Serif; font-size: calc(26px + 1.5vw);

letter-spacing: -1px;

background: rgb(0, 0, 0);

background: rgba(0, 0, 0, 0.7);

padding: 10px;

margin:auto;
}