body {
    background-image: url("../img/iconofondo-min.png");
    background-repeat: repeat;
}
#luna {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    }

.izquierda, .centro, .derecha { 
	display:inline-block;
	float:left;
	height:100%;
	width:33.33%;

}
#nave{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:10%;
	z-index: 3;
}
#naveSimple{
	height:40%;
	width: 10%;
	display: block;
	margin: auto;
	
}
#naveFuego{
	height: 40%;
	width: 10%;
	display: none;
	margin: auto;
	
}
#altura{
	width:5%;
	position: fixed;
	bottom:20%;
	left: 14%;
}

#velocidad{
	width:5%;
	position: fixed;
	bottom:20%;
	left: 2%;
}
#gasolina{
	width:5%;
	position: fixed;
	bottom:20%;
	left: 8%;

}
#energiaMarco1{
	background: green;
	border-radius:37%;
	border-style: solid;
	border-color: yellow;
	border-width: 50%;
	width:3.3%;
	position: fixed;
	bottom:31.5%;
	left: 13.7%;
	height: 60.5%;
}

#energiaMarco2{
	background: green;
	border-radius:  37%;
	border-style: solid;
	border-color: yellow;
	border-width: 50%;
	width:3.3%;
	position: fixed;
	bottom:31.5%;
	left: 1.7%;
	height: 60.5%;
}

#energiaMarco3{
	background-color: green;
	border-radius: 37%;
	border-style: solid;
	border-color: yellow;
	border-width: 40%;
	width:3.3%;
	position: fixed;
	bottom:31.5%;
	left: 7.7%;
	height: 60.5%;
}

#opciones{
	width:5%;
	position: fixed;
	bottom:20%;
	right:14%;
	z-index: 1;
}
#opcionesMovil{
	width:25%;
	position: fixed;
	top:7%;
	right:7%;
	z-index: 1;
	display: none;
}
#opciones:hover{
	background: green;
}
#pause{
	width:5%;
	position: fixed;
	bottom:20%;
	right:8%;
	display:block;
}
#pause:hover{
	background: green;
}
#play{
	width:5%;
	position: fixed;
	bottom:20%;
	right:8%;
	display: none;
}
#play:hover{
	background: green;
}
#acerca{
	width:5%;
	position: fixed;
	bottom:20%;
	right:2%;
}
#acerca:hover{
	background: green;
}
#tierra{
	opacity: 0.6;
	z-index: 1;
	width: 52%;
	height: 52%;
	position: fixed;
	top: 30%;
}
#menu{
	
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 20%;
	background: gray;
	padding: 1%;
	z-index: 4;
	display: none;
}
#cerrar{
	width: 9%;
	max-width: 50px;
	position: absolute;
	top:5%;
	right: 5%;
}
#cerrar1{
	width: 9%;
	max-width: 50px;
	position: absolute;
	top:0.1%;
	right: 2%;
}
#cerrar2{
	display: none;
}
#cerrar:hover{
	background: green;
}
#cerrar1:hover{
	background: green;
}
#menu h1{
	
	color: yellow;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
#menu p{
	color: rgb(0,0,0);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
#acercaMenu{
	margin:1%;
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 10%;
	background: gray;
	padding: 1%;
	z-index: 4;
	display: none;
}
#acercaMenu h1, h2 , h3{
	color: yellow;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#acercaMenu p{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#gameOver{
	margin:1%;
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 20%;
	background: gray;
	padding: 1%;
	z-index: 4;
	text-align: center;
	display: none;
}

#gameOver h1{
	color: yellow;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#gameOver h3{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#winner{
	margin:1%;
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 20%;
	background: gray;
	padding: 1%;
	z-index: 4;
	text-align: center;
	display: none;
}
#winner h1{
	color: black;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#winner p{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#naveGif{
	width: 15%;
	position: fixed;
	left: 23%;
	top:22%;
	display: none;
}
#reiniciar{
	right: 20%;
	top:40%;
	position: fixed;
}
#menuMovil{
	display: none;
}