body {
    background-image: url("../img/iconofondo-min.png");
    background-repeat: repeat;
}
#luna {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    }

.izquierda, .centro, .derecha { 
	display:inline-block;
	float:left;
	height:100%;
	width:33.33%;

}
#nave{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	
	z-index: 3;
}
#naveSimple{
	height:100%;
	width: 38%;
	display: block;
	margin: auto;
	
}
#naveFuego{
	height:100%;
	width: 38%;
	display: block;
	margin: auto;
	
}
#naveRota{
	height:100%;
	width: 38%;
	display: none;
	margin: auto;
	
}
#naveGif{
	height:100%;
	width: 38%;
	display: block;
	margin: auto;
}
#altura{
	width:8%;
	position: fixed;
	bottom:20%;
	left: 17%;
}

#velocidad{
	width:8%;
	position: fixed;
	bottom:20%;
	left: 2%;
}
#gasolina{
	width:8%;
	position: fixed;
	bottom:20%;
	left: 10%;

}
#energiaMarco1{
	background: green;
	border:37%;
	border-style: solid;
	border-color: yellow;
	border-width: 50%;
	width:4.3%;
	position: fixed;
	bottom:25.5%;
	left: 16.7%;
	height: 60.5%;
}

#energiaMarco2{
	background: green;
	border:  37%;
	border-style: solid;
	border-color: yellow;
	border-width: 50%;
	width:4.3%;
	position: fixed;
	bottom:25.5%;
	left: 2.7%;
	height: 60.5%;
}

#energiaMarco3{
	background-color: green;
	border: 37%;
	border-style: solid;
	border-color: yellow;
	border-width: 40%;
	width:4.3%;
	position: fixed;
	bottom:25.5%;
	left: 9.7%;
	height: 60.5%;
}

#opciones{
	width:25%;
	position: fixed;
	top:7%;
	right:7%;
	z-index: 1;
	display: none;
}
#opcionesMovil{
	width:25%;
	position: fixed;
	top:4%;
	right:7%;
	z-index: 1;
}
#opciones:hover{
	background: green;
}
#pause{
	width:5%;
	position: fixed;
	bottom:20%;
	right:8%;
	display:none;
}
#pause:hover{
	background: green;
}
#play{
	width:25%;
	position: fixed;
	bottom:20%;
	right:7%;
	display: none;
}
#play:hover{
	background: green;
}
#acerca{
	width:5%;
	position: fixed;
	bottom:20%;
	right:2%;
	display: none;
}
#acerca:hover{
	background: green;
}
#tierra{
	opacity: 0.6;
	z-index: 1;
	width: 52%;
	
	position: fixed;
	top: 30%;
}
#menu{
	margin:2%;
	position: fixed;
	border-radius: 20px;
	height: 90%;
	width: 90%;
	background: gray;
	padding: 1%;
	z-index: 6;
	display: none;
}
#cerrar{
	width: 9%;
	max-width: 50px;
	position: absolute;
	top:5%;
	right: 5%;
}
#cerrar1{
	width: 9%;
	max-width: 50px;
	position: fixed;
	right:6%;
	top:8%;
}
#cerrar2{
	width: 9%;
	max-width: 50px;
	position: absolute;
	right:6%;
	top:8%;
}
#cerrar:hover{
	background: green;
}
#cerrar1:hover{
	background: green;
}
#menu h1{
	
	color: yellow;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
#menu p{
	color: rgb(0,0,0);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
#acercaMenu{
	margin:2%;
	position: fixed;
	border-radius: 20px;
	height: 90%;
	width: 90%;
	background: gray;
	padding: 1%;
	z-index: 6;
	display: none;
}
#acercaMenu h1, h2 , h3{
	color: yellow;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#acercaMenu p{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#gameOver{
	margin:1%;
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 20%;
	background: gray;
	padding: 1%;
	z-index: 4;
	text-align: center;
	display: none;
}

#gameOver h1{
	color: yellow;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#gameOver h3{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#winner{
	margin:1%;
	position: fixed;
	border-radius: 20px;
	width: 80%;
	left: 10%;
	top: 10%;
	background: gray;
	padding: 1%;
	z-index: 4;
	text-align: center;
	display: none;
}
#winner h1{
	color: black;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
#winner p{

	color: rgb(0,0,0);
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

#reiniciar{
	right: 7%;
	bottom: 20%;
	position: fixed;
	width: 25%;
}
#menuMovil{
	margin:2%;
	position: fixed;
	border-radius: 20px;
	height: 90%;
	width: 90%;
	background: gray;
	padding: 1%;
	z-index: 5;
	display: none;
}
#menuMovil p{
	text-align: center;
	margin-top: 30%;
	font-size: 35px;
	color: yellow;
	border:10px;
	border-color: black;
	border-width: 10px;
	border-style: solid;
	font-family: "Arial";


}
